

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: black;
    background-position: center;
}


header, footer {
    background: black;
    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-between;
    padding-inline-start: 16px;
    flex: 0, 100%;
}

h1 {
    color: lightgrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-style: italic;
    text-shadow: 1px 1px 1px white;
  }

h2 {

    font-size: 25px;
    min-width: 200px;
    color: white;
    font-weight: bold;
}

h3, h4 {
    font-size: 18px;
    color: white;
    text-align:center;
}

nav {
    display: flex;
    background: black;
    flex-flow: row, nowrap;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color: lightgrey;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
  }

nav a:hover {
    text-decoration-line: underline;
  }


 ul li {
    display: inline;
    }



main {
    background: linear-gradient(331deg, rgb(88, 88, 88) 0%, rgb(190, 190, 190) 45%, rgb(48, 47, 47) 100%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    display: flex;
    margin-left: 20px;
}

article {
    color: white;
}


.about-me {
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 80%;
}

/* .about-me p {
    align-self: center;
} */

.about-me img {
    height: 100%;
}


.project-list {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.project {
    flex-direction: column; 
    width: 400px;
    border: 2px solid transparent;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 10px 15px gray;
    transform: rotate(1deg);
    cursor: pointer;
    transition: all 0.2s ease;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: inset 0px 0px 8px white, 0 0 15px white;
}

.project img {
    padding: 10px;
}

.featured { 
    width: 600px;
}

@media screen and (max-width: 768px) {
    header, footer, main, section, article, nav {
        flex-direction: column;
        justify-content: space-around;
        gap: 1;
    }
}

@media screen and (max-width: 500px) {
    * {
        flex-direction: column;
    }
}